<!DOCTYPE html>
<html lang="en">
        
<%- include("./partials/head") %> 
<link href="/css/styles.css" rel="stylesheet">    

    <body>
            <%- include("./partials/header") %>
        <main>
            <section class="product">
                
                    <section class="listaproductos">
                        
                        <article class="producto1">
                            
                            <br>
                            <h2 class="nombre-producto"><%= producto.name%></h2>
                            <p hidden class="id-producto"><%= producto.id%></p>
                            <br>
                            <a href="/productos/<%= producto.id %>/detalleDeproducto"><img src="/images/productos/<%= producto.image %>" class="detalle-imagen" alt= "<%= producto.name %> "></a>
                            <br>
                            <br>
                            <ul class="detalle-productos">
                                <li>DESCRIPCION:         <span class="description-producto"><%= producto.description%></span> </li>
                                <li>PRECIO: $ <span class="price-producto"><%= producto.price %></span></li>
                                <li>DESCUENTO: %<span class="discount-producto"><%= producto.discount %></span> </li>
                                <li>SIZE:  <span class="size-producto"> <%= producto.size %></span> </li>
                                <li>MARCA:                <span class="brand-producto"><%= producto.brand.name %></span> </li>
                                <li><p><i class="fas fa-credit-card"></i>   Pagá en 12 cuotas sin interes</p></li>
                                <li><p><i class="fas fa-store"> </i>        Retiro gratis en locales del vendedor</p></li>
                            </ul> 
                        

                            <section class="botones"> 
                                <div>
                                    <% if (!locals.isLogged) { %>
                                        <button class="boton-ticket boton-comprar"> COMPRAR </button>
                                        <button class="boton-ticket boton-borrar-carrito"> BORRAR CARRITO</button>
                                        <a href="/"><button class="boton-formulario">SEGUIR COMPRANDO</button></a>                    
                                    <% } %>
                                <br>
                                                                                   
                                <% if (locals.isLogged) { %>
                                    <a href="/productos/<%= producto.id %>/edit"><button class="boton-ticket">   EDITAR </button></a>
                                <% } %>
                                </div>
                            </section>  
                            
                        </article>
                    </section>          
                        
            </section>               
        </main>
            
    </body>
    <%- include("./partials/footer")%> 
    <script src="/js/detalleProducto.js"></script>
</html>