<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
        <link href="/css/styles.css" rel="stylesheet">

    <body>
        <%- include("./partials/header") %>    
<main>
    <section>
        
        <form action="/productos/<%= productToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data" class="register-body">

            <h2 class="edit-product">EDITAR PRODUCTO</h2>
            
            <ul class="errors">
                   
            </ul>
            <p class="control-formulario">
                <label for="name">Nombre del producto</label>   
                <input type="text" id="name" name="name" class="control" value="<%= productToEdit.name %>">
                <% if (locals.errors && errors.name) { %>
                    <p class = "error-message-product"> <%= errors.name.msg %></p>
                <% } %> 
            </p>  
                          
            
            <p class="control-formulario">
                <label for="description">Descripción</label>   
                <input type="text" id="description" name="description" class="control" size= 35 value="<%= productToEdit.description %>">
                <% if (locals.errors && errors.description) { %>
                    <p class = "error-message-product"> <%= errors.description.msg %></p>
                <% } %> 
            </p>
            
            <h3>Modificar imagen del producto</h3>
            <br>
            
            <label for="myfile"></label>
            <input type="file" id="myfile" name="myfile">
            <% if (locals.errors && errors.myfile) { %>
                <p class = "error-message-product"> <%= errors.myfile.msg %></p>
            <% } %> 

            <h3>Categoría</h3>

            <select class= "selects" name="category_id" id="" required>
                <% allCategories.forEach(category => { %>
                 <option value="<%= category.id %>" <% if (productToEdit.category_id == category.id) { %><%= 'selected' %><% }; %>><%=   category.name %></option>
                <% }); %>
                
            </select>
            
            <h3>Marca</h3>

            <select class= "selects" name="brand_id" id="" required>
                <% allBrands.forEach(brand => { %>
                 <option value="<%= brand.id %>" <% if (productToEdit.brand_id == brand.id) { %><%= 'selected' %><% }; %>><%=   brand.name %></option>
                <% }); %>
           </select>

            <p class="control-formulario">
                <label for="size">Talle</label>   
                <input type="text" id="size" name="size" class="control" value="<%= productToEdit.size %>">
            </p>
            
            <p class="control-formulario">
                <label for="pass">Precio</label>   
                <input type="text" name="price" id="price" class="control"value="<%= productToEdit.price %>">
            </p>
            
            <p class="control-formulario">
                <label for="discount">Descuento (en %)</label>   
                <input type="text" id="discount" name="discount" class="control" value="<%= productToEdit.discount %>">
            </p>
            <br>

            <button type="submit" class="boton-formulario">GUARDAR</button>
            <button type="reset" class="boton-formulario">BORRAR</button>
  
        </form>   <br>       
        <form action="/productos/delete/<%= productToEdit.id %>" method="POST" class="form-eliminar">
            <button type="submit" class="boton-formulario">ELIMINAR</button>
        </form>


        
    </section>
</main>

<br>
<script src="/js/edicionValidation.js"></script> 
</body>
<%- include("./partials/footer")%> 
</html>